<div class="container">
  <div class="upperData">
    <img src="../assets/Sunny day.jpg" *ngIf="14 < 15">
    <!-- <img src="../assets/Cold day.jpg" *ngIf="14 <= 15"> -->

    <div class="weatherData">
      <div class="location">Halifax</div>
      <div class="temperature">{{ 12.25 | number: '1.0-0' }}°C</div>
    </div>
  </div>
  <div class="lowerData">
    <div class="moreinfolabel">
      More Information
    </div>
    <div class="moreinfocont">
      <div class="infoblock">
        <div class="infoblocklabel">
          <img src="../assets/min.jpg">
          <span>min</span>
          <div class="infoblockvalue">10°C</div>
        </div>
      </div>

      <div class="infoblock">
        <div class="infoblocklabel">
          <img src="../assets/max.jpg">
          <span>max</span>
          <div class="infoblockvalue">20°C</div>
        </div>
      </div>


      <div class="infoblock">
        <div class="infoblocklabel">
          <img src="../assets/min.jpg">
          <span>humidity</span>
          <div class="infoblockvalue">77%</div>
        </div>
      </div>


      <div class="infoblock">
        <div class="infoblocklabel">
          <img src="../assets/min.jpg">
          <span>wind</span>
          <div class="infoblockvalue">11 km/h</div>
        </div>
      </div>




    </div>
  </div>
</div>

<router-outlet></router-outlet>